/*######################## Global  ###############################################################################################*/
    *{
        background-color: lightgray;
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px;
    }



    button, .w3w-location-channel, .w3w-location-chat {
        text-transform: uppercase;
    }

    .bar {
        background-color: #1a237e;
        color: white;
        height: 56px;
        font-size: 20px;
        font-family: Roboto, Arial, sans-serif;
        line-height: 56px;
    }

/*######################## App bar  ##############################################################################################*/
    #cahnnel-list-area {
        position: absolute;
        width: 40%;
        height: 100%;  
    }



    #app-logo-headline {
        background-color: inherit;
        height: 56px;
        position: absolute;
        left: 16px;

    }
    #app-headline {
        background-color: inherit;
        display: block;
        position: absolute;
        top: 0px;
        left: 104px;
    }

    /*app bar channel*/
    #channel-location, .w3w-location-channel{
        background-color: inherit;
    }




/*######################## Channels list  ########################################################################################*/
    #chat-area {
        position: absolute;
        width: 60%;
        right: 0px;
        height: 100%;

    
    }


    .channel-list {
        list-style-type: none;
        background-color: white;
        overflow: hidden;
        overflow-y: auto;
        
    }

    .channel-list-element{
        background-color: white;
        height: 32.2px;
        padding: 16px;
        font-size: 16px;
        border: 0.1px solid lightgray;
    }

        /*pictur favorit*/
    .favorite-channel-symbol{
        background-color: inherit;
    }


    .selected-channel {
        border-left: 5px solid #1a237e;

    }



/*######################## Tab bar  ##############################################################################################*/
    .button-symbol-channel {
        background-color: inherit;
        /*force new line*/
        display: block;
        /*center immage*/
        margin-left: auto;
        margin-right: auto;
        height: inherit;  
    }

    #button-channel{
        background-color: white;
        color: white;      
    }

    .button-text-channel{
        background-color: inherit;
    }

    #button-new, #button-trending, #button-favorites {
        background-color: white;
        color: black;
        font-size: 13px;
        text-align: center;
        
        margin: none;
        border: none;
        width: 33%;
        padding-bottom: 4px;
    }


    #button-new:focus,#button-trending:focus, #button-favorites:focus {
        border-bottom: 3px solid #1a237e;
    }

    #button-channel button.selected {
        color: #3F51B5;
        border-bottom: 4px solid #3F51B5;
    }



/*######################## Messages  #############################################################################################*/
    .chat-message{
        width: 80%;
        margin-bottom: 8px;
    }

    /*cahnnel messages */

    .message-metadata {
        font-size: medium;
    }
    .w3w-location-chat {
        color: black;
    }
    .message-text{
        background-color: white;
        padding: 16px;
    }

    .buton-message{
        background-color: #CDDC39;
        color: black;
        text-transform: uppercase;
    }

    .info-em-message {
        font-size: larger;
        font-style: normal;  
    }

    .own-chat-message {
        margin-left: 17.5%;
    }
    .other-chat-message{
        margin-left: 2.5%;
    }

/*######################## Info color palet  #############################################################################################*/
    /*                 
        Function            Color name/number   comment
                
        Background          lightgray             
        Primary text        black
        Primary color       #1a237e             "indigo"
        Primary color text  white
        Accent color        #76ff03             "green"
        Accent color text   black            
    */




